.Caveat{
    @font-face {
        font-family: 'caveat_brushregular';
        src: url('../assets/caveat-brush-v11-latin-regular.woff');
        font-weight: normal;
        font-style: normal;
    
    
    }
}/* caveat-brush-regular - latin */
